In [ ]:
from SOAPpy import WSDL
#can't work in 3.10 because of version
#pip install SOAPpy, version

# Do a request on Worms to get species data

URL for the example : https://www.marinespecies.org/rest/AphiaRecordByAphiaID/138675

In [1]:
import json
import requests

url = "https://www.marinespecies.org/rest/AphiaRecordByAphiaID/138675"
r = requests.get(url)
#print(r.text)
print(type(r.json()))

data = r.json()

print(data)

<class 'dict'>
{'AphiaID': 138675, 'url': 'https://www.marinespecies.org/aphia.php?p=taxdetails&id=138675', 'scientificname': 'Acanthochitona crinita', 'authority': '(Pennant, 1777)', 'status': 'accepted', 'unacceptreason': None, 'taxonRankID': 220, 'rank': 'Species', 'valid_AphiaID': 138675, 'valid_name': 'Acanthochitona crinita', 'valid_authority': '(Pennant, 1777)', 'parentNameUsageID': 137613, 'kingdom': 'Animalia', 'phylum': 'Mollusca', 'class': 'Polyplacophora', 'order': 'Chitonida', 'family': 'Acanthochitonidae', 'genus': 'Acanthochitona', 'citation': 'MolluscaBase eds. (2025). MolluscaBase. Acanthochitona crinita (Pennant, 1777). Accessed through: World Register of Marine Species at: https://www.marinespecies.org/aphia.php?p=taxdetails&id=138675 on 2025-10-15', 'lsid': 'urn:lsid:marinespecies.org:taxname:138675', 'isMarine': 1, 'isBrackish': 0, 'isFreshwater': 0, 'isTerrestrial': 0, 'isExtinct': 0, 'match_type': 'exact', 'modified': '2024-02-07T09:10:34.830Z'}

In [ ]:
import json
import pandas as pd
import requests

#Init a dataframe
df = []

# Get a record for one APHIAID
url = "https://www.marinespecies.org/rest/AphiaRecordByAphiaID/138675"
r = requests.get(url)
#print(r.text)
print(type(r.json()))

data = r.json()
#print(data) 

# Format the record into one line
row = []
for e in data.keys():
    #print(e)
    #print(data[e])
    row.append(data[e])

# Add the line into the dataframe
df.append(row)

#Finalize the dataframe with column names
resultat = pd.DataFrame(df, columns=data.keys())

resultat

## Renseigner tout le fichier excel

In [2]:
import json 
import requests
import pandas as pd

In [4]:
# Fonction pour avoir les données worms 
def get_worms_data(aphiaid):
    url = f"https://www.marinespecies.org/rest/AphiaRecordByAphiaID/{aphiaid}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return data
    else:
        return None

In [5]:
get_worms_data(292684)

{'AphiaID': 292684,
 'url': 'https://www.marinespecies.org/aphia.php?p=taxdetails&id=292684',
 'scientificname': 'Acari',
 'authority': 'Leach, 1817',
 'status': 'accepted',
 'unacceptreason': None,
 'taxonRankID': 70,
 'rank': 'Subclass',
 'valid_AphiaID': 292684,
 'valid_name': 'Acari',
 'valid_authority': 'Leach, 1817',
 'parentNameUsageID': 1300,
 'kingdom': 'Animalia',
 'phylum': 'Arthropoda',
 'class': 'Arachnida',
 'order': None,
 'family': None,
 'genus': None,
 'citation': 'WoRMS (2025). Acari. Accessed at: https://www.marinespecies.org/aphia.php?p=taxdetails&id=292684 on 2025-10-15',
 'lsid': 'urn:lsid:marinespecies.org:taxname:292684',
 'isMarine': 1,
 'isBrackish': 1,
 'isFreshwater': 1,
 'isTerrestrial': 1,
 'isExtinct': 0,
 'match_type': 'exact',
 'modified': '2016-09-22T08:50:16.167Z'}

In [ ]:
#https://www.marinespecies.org/aphia.php?p=taxdetails&id=137092
data = get_worms_data(137092)

type(data)
nom_colonnes = data.keys()

print(nom_colonnes)

data

In [6]:
## Lire le fichier Excel


# Lire le fichier Excel
excel_file = "C:\Travail\Enseignement\Cours_M2_python\\2023\data\Table_espece_UTF8_simplifie.xlsx"
sheet_name = "Espece_incomplet"
df = pd.read_excel(excel_file, sheet_name)

print(df.columns)
df

Index(['taxon_name', 'taxon_authority', 'aphiaid_accepted', 'nom_commun_fr',
       'nom_commun_en', 'ScientificName_accepted', 'Authority_accepted',
       'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'Subgenus',
       'Species', 'Subspecies', 'taxonRank', 'RDF_WoRMS', 'taxon_APHIAID',
       'cd_nom_INPN', 'RDF_INPN'],
      dtype='object')

,taxon_name,taxon_authority,aphiaid_accepted,nom_commun_fr,nom_commun_en,ScientificName_accepted,Authority_accepted,Kingdom,Phylum,Class,...,Family,Genus,Subgenus,Species,Subspecies,taxonRank,RDF_WoRMS,taxon_APHIAID,cd_nom_INPN,RDF_INPN
0,Acanthochitona crinita,"(Pennant, 1777)",138675,petit chiton épineux,NaN,Acanthochitona crinita,"(Pennant, 1777)",Animalia,Mollusca,Polyplacophora,...,Acanthochitonidae,Acanthochitona,NaN,crinita,NaN,species,http://www.marinespecies.org/aphia.php?p=taxde...,138675.0,359660.0,http://inpn.mnhn.fr/espece/cd_nom/359660
1,Acanthochitona fascicularis,"(Linnaeus, 1767)",138677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acari,"Leach, 1817",292684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Actinia equina,"(Linnaeus, 1758)",100803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alcyonium,"Linnaeus, 1758",125284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Ulva compressa,"Linnaeus, 1753",234462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,Ulva intestinalis,"Linnaeus, 1753",234471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,Ulva lactuca,"Linnaeus, 1753",145984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Ulva linza,"Linnaeus, 1753",234474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Eubalaena australis,"Desmoulins, 1822",220222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for index, row in df.iterrows():
    print(index)

In [ ]:
dico1 = {
    'aphiaid_accepted': 'AphiaID', 
    'Phylum': 'phylum', 
    'Class': 'class',
    'Order': 'order', 
    'Family': 'family', 
    'Genus': 'genus',
    'ScientificName_accepted': 'valid_name', 
    'Authority': 'authority',
    'taxon_rank': 'rank',
    #'taxon_name': 'scientificname',
    }

In [14]:
if 'taxon_name' in dico1 : 
    print(dico1['taxon_name'])
else :
    print('pas de clé')

pas de clé

In [15]:
# Parcourir les lignes
for index, row in df.iterrows():
    aphiaid = row['aphiaid_accepted']  # Colonne du Excel avec les AphiaID
    worms_data = get_worms_data(aphiaid)
    print(aphiaid)
    if index == 3 : # Limiter à 3 pour l'exemple
        break
    if worms_data:
        # Parcourir dynamiquement toutes les colonnes du DataFrame
        for column in df.columns:
            if column in dico1 : 
                key_worm = dico1[column]
                print('\t column {0} et data.k {1}'.format(column, key_worm))
                if key_worm is not None:
                    df.at[index, column] = worms_data[key_worm]
            '''
            for k in worms_data.keys():
                if column.lower() == k.lower() : 
                    print('\t column {0} et data.k {1}'.format(column, k))
                    df.at[index, column] = worms_data[k]
            '''

138675
	 column aphiaid_accepted et data.k AphiaID
	 column ScientificName_accepted et data.k valid_name
	 column Phylum et data.k phylum
	 column Class et data.k class
	 column Order et data.k order
	 column Family et data.k family
	 column Genus et data.k genus
138677
	 column aphiaid_accepted et data.k AphiaID
	 column ScientificName_accepted et data.k valid_name
	 column Phylum et data.k phylum
	 column Class et data.k class
	 column Order et data.k order
	 column Family et data.k family
	 column Genus et data.k genus
292684
	 column aphiaid_accepted et data.k AphiaID
	 column ScientificName_accepted et data.k valid_name
	 column Phylum et data.k phylum
	 column Class et data.k class
	 column Order et data.k order
	 column Family et data.k family
	 column Genus et data.k genus
100803

In [16]:
df.head()

,taxon_name,taxon_authority,aphiaid_accepted,nom_commun_fr,nom_commun_en,ScientificName_accepted,Authority_accepted,Kingdom,Phylum,Class,...,Family,Genus,Subgenus,Species,Subspecies,taxonRank,RDF_WoRMS,taxon_APHIAID,cd_nom_INPN,RDF_INPN
0,Acanthochitona crinita,"(Pennant, 1777)",138675,petit chiton épineux,NaN,Acanthochitona crinita,"(Pennant, 1777)",Animalia,Mollusca,Polyplacophora,...,Acanthochitonidae,Acanthochitona,NaN,crinita,NaN,species,http://www.marinespecies.org/aphia.php?p=taxde...,138675.0,359660.0,http://inpn.mnhn.fr/espece/cd_nom/359660
1,Acanthochitona fascicularis,"(Linnaeus, 1767)",138677,NaN,NaN,Acanthochitona fascicularis,NaN,NaN,Mollusca,Polyplacophora,...,Acanthochitonidae,Acanthochitona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acari,"Leach, 1817",292684,NaN,NaN,Acari,NaN,NaN,Arthropoda,Arachnida,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Actinia equina,"(Linnaeus, 1758)",100803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alcyonium,"Linnaeus, 1758",125284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Complement par rapport au cours

Certaines colonnes ne correspondent pas tout à fait mais peuvent être renseignées : 
- ScientificName_accepted
- Authority_accepted
- taxonRank
- taxon_APHIAID

In [ ]:
# Parcourir les lignes
for index, row in df.iterrows():
    aphiaid = row['aphiaid_accepted']  # Colonne du Excel avec les AphiaID
    worms_data = get_worms_data(aphiaid)
    print(aphiaid)
    if worms_data:
        # Parcourir dynamiquement toutes les colonnes du DataFrame
        for column in df.columns:
            for k in worms_data.keys():
                if column.lower() == k.lower() : 
                    print('\t column {0} et data.k {1}'.format(column, k))
                    df.at[index, column] = worms_data[k]
        #Certaines colonnes ne correspondent pas tout à fait mais peuvent être renseignées (sauf Subgenus	Species	Subspecies)
        ##ScientificName_accepted	Authority_accepted 	taxonRank
        df.at[index, 'ScientificName_accepted'] = worms_data['scientificname']
        df.at[index, 'Authority_accepted'] = worms_data['valid_authority']
        df.at[index, 'taxonRank'] = worms_data['rank']
        df.at[index, 'taxon_APHIAID']= worms_data['valid_AphiaID']

In [ ]:
df

## Récupérer les noms communs (vernaculaires)

https://www.marinespecies.org/rest/AphiaVernacularsByAphiaID/{ID}

Documentation REST [ici](https://www.marinespecies.org/rest/)

In [38]:
# Fonction pour avoir les données worms 
def get_worms_vernaculars(aphiaid):
    url = f"https://www.marinespecies.org/rest/AphiaVernacularsByAphiaID/{aphiaid}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return data
    else:
        return None

In [39]:
test = get_worms_vernaculars(137092)

# On récupère une liste de {'vernacular': 'xxx', 'language_code': 'yyy', 'language': 'zzz'}
test

[{'vernacular': 'abra',
  'language_code': 'bcc',
  'language': 'Southern Balochi'},
 {'vernacular': 'aghvesiiq',
  'language_code': 'ypk',
  'language': 'Yupik languages'},
 {'vernacular': 'aliamak', 'language_code': 'ale', 'language': 'Aleut'},
 {'vernacular': 'alkhiamak', 'language_code': 'ale', 'language': 'Aleut'},
 {'vernacular': 'ambaqui', 'language_code': 'spa', 'language': 'Spanish'},
 {'vernacular': 'baleia jubarte',
  'language_code': 'por',
  'language': 'Portuguese'},
 {'vernacular': 'baleia-corcunda',
  'language_code': 'por',
  'language': 'Portuguese'},
 {'vernacular': 'baleine à bosse',
  'language_code': 'fra',
  'language': 'French'},
 {'vernacular': 'baleine à taquet',
  'language_code': 'fra',
  'language': 'French'},
 {'vernacular': 'baleine tampon',
  'language_code': 'fra',
  'language': 'French'},
 {'vernacular': 'balena geperuda',
  'language_code': 'cat',
  'language': 'Catalan'},
 {'vernacular': 'balena gobba', 'language_code': 'ita', 'language': 'Italian'},
 {'vernacular': 'ballena cantora',
  'language_code': 'spa',
  'language': 'Spanish'},
 {'vernacular': 'ballena de aletas grandes',
  'language_code': 'spa',
  'language': 'Spanish'},
 {'vernacular': 'ballena jorobada',
  'language_code': 'spa',
  'language': 'Spanish'},
 {'vernacular': 'boggelwalvis',
  'language_code': 'afr',
  'language': 'Afrikaans'},
 {'vernacular': 'buckelhval', 'language_code': 'dan', 'language': 'Danish'},
 {'vernacular': 'Buckelwal', 'language_code': 'deu', 'language': 'German'},
 {'vernacular': 'bultrug', 'language_code': 'dut', 'language': 'Dutch'},
 {'vernacular': 'bunch whale', 'language_code': 'eng', 'language': 'English'},
 {'vernacular': 'chongoe',
  'language_code': 'swh',
  'language': 'Swahili (individual language)'},
 {'vernacular': 'dlinnorukyi polosatik',
  'language_code': 'rus',
  'language': 'Russian'},
 {'vernacular': 'długopłetwiec', 'language_code': 'pol', 'language': 'Polish'},
 {'vernacular': 'gorbach', 'language_code': 'rus', 'language': 'Russian'},
 {'vernacular': 'gorbatyi kit', 'language_code': 'rus', 'language': 'Russian'},
 {'vernacular': 'guabarte', 'language_code': 'spa', 'language': 'Spanish'},
 {'vernacular': 'gubarta', 'language_code': 'spa', 'language': 'Spanish'},
 {'vernacular': 'hnufubakur', 'language_code': 'ice', 'language': 'Icelandic'},
 {'vernacular': 'hnunfurbakur', 'language_code': 'swe', 'language': 'Swedish'},
 {'vernacular': 'hog-deung-gorae',
  'language_code': 'kor',
  'language': 'Korean'},
 {'vernacular': 'hump', 'language_code': 'eng', 'language': 'English'},
 {'vernacular': 'humpback whale',
  'language_code': 'eng',
  'language': 'English'},
 {'vernacular': 'hunch', 'language_code': 'eng', 'language': 'English'},
 {'vernacular': 'hunchback whale',
  'language_code': 'eng',
  'language': 'English'},
 {'vernacular': 'jibarte', 'language_code': 'spa', 'language': 'Spanish'},
 {'vernacular': 'jorobada', 'language_code': 'spa', 'language': 'Spanish'},
 {'vernacular': 'jubarte', 'language_code': 'fra', 'language': 'French'},
 {'vernacular': 'jubarte', 'language_code': 'por', 'language': 'Portuguese'},
 {'vernacular': 'kaipokak',
  'language_code': 'ypk',
  'language': 'Yupik languages'},
 {'vernacular': 'kaipokak uiiut',
  'language_code': 'ckt',
  'language': 'Chukot'},
 {'vernacular': 'kambur balina',
  'language_code': 'tur',
  'language': 'Turkish'},
 {'vernacular': 'keporkak', 'language_code': 'ces', 'language': 'Czech'},
 {'vernacular': 'keporkak', 'language_code': 'kal', 'language': 'Kalaallisut'},
 {'vernacular': 'keporkak dlouhoplautvý',
  'language_code': 'ces',
  'language': 'Czech'},
 {'vernacular': 'khi-tkhukkh', 'language_code': 'ale', 'language': 'Aleut'},
 {'vernacular': 'kit grbavec',
  'language_code': 'slv',
  'language': 'Slovenian'},
 {'vernacular': 'knölhval', 'language_code': 'nor', 'language': 'Norwegian'},
 {'vernacular': 'knølhval', 'language_code': 'nor', 'language': 'Norwegian'},
 {'vernacular': 'knølhval',
  'language_code': 'nob',
  'language': 'Norwegian Bokmål'},
 {'vernacular': 'knølkval',
  'language_code': 'nno',
  'language': 'Norwegian Nynorsk'}]

In [40]:
for e in test:
    if e['language_code'] == 'fra' or  e['language_code'] == 'eng' :
        print(e['vernacular'])

baleine à bosse
baleine à taquet
baleine tampon
bunch whale
hump
humpback whale
hunch
hunchback whale
jubarte

In [ ]:
# Parcourir les lignes
for index, row in df.iterrows():
    aphiaid = row['aphiaid_accepted']  # Colonne du Excel avec les AphiaID
    worms_data = get_worms_vernaculars(aphiaid)
    print(aphiaid)
    if worms_data:
        # Parcourir dynamiquement toutes les colonnes du DataFrame
        # Renseigner nom_commun_fr	nom_commun_en
        for e in worms_data:
            if e['language_code'] == 'fra'  :
                print(e['vernacular']) 
                df.at[index, 'nom_commun_fr'] = e['vernacular']
            elif e['language_code'] == 'eng' :
                df.at[index, 'nom_commun_en'] = e['vernacular']

In [ ]:
df

## Solution Geoffrey (alternative)

In [36]:
from difflib import get_close_matches

def create_mapping(data_keys, dt_columns, threshold=0.6):
    mapping = {}
    for key in data_keys:
        # Trouver les colonnes les plus proches de la clé en fonction de la similitude des noms
        match = get_close_matches(key, dt_columns, n=1, cutoff=threshold)
        if match:
            mapping[key] = match[0]  # Associer la clé à la colonne la plus similaire
    return mapping

In [37]:
import requests
import pandas as pd


excel_file = "C:\Travail\Enseignement\Cours_M2_python\\2023\data\Table_espece_UTF8_simplifie.xlsx"
sheet_name = "Espece_incomplet"
dt = pd.read_excel(excel_file, sheet_name)


# a first testing request
url ="https://www.marinespecies.org/rest/AphiaRecordByAphiaID/138675"
r = requests.get(url)
data = r.json()

# Use create_mapping function
data_keys =data.keys()
dt_columns = dt.columns 
mapping = create_mapping(data_keys, dt_columns)

print(mapping)

{'scientificname': 'ScientificName_accepted', 'authority': 'taxon_authority', 'taxonRankID': 'taxonRank', 'valid_name': 'taxon_name', 'valid_authority': 'taxon_authority', 'kingdom': 'Kingdom', 'phylum': 'Phylum', 'class': 'Class', 'order': 'Order', 'family': 'Family', 'genus': 'Genus'}

In [ ]:
for index, row in dt.iterrows():
    aphia_id = row['aphiaid_accepted']  # Assurez-vous que le nom de la colonne est correct

    url = f"https://www.marinespecies.org/rest/AphiaRecordByAphiaID/{aphia_id}"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()

        for key, column in mapping.items():
            if key in data: 
                dt.at[index, column] = data[key]

#dt.to_excel("Updated_Table_espece.xlsx", index=False)

## Sauver les résultats

In [ ]:
# Enregistrer les modifications dans le fichier Excel d'origine
new_excel_file = "C:\Travail\Enseignement\Cours_M2_python\\2023\data\Table_espece_UTF8_simplifie_complet.xlsx"
df.to_excel(new_excel_file, sheet_name=sheet_name, index=False)