Arctox : New version 2025

@author: Christine Plumejeaud-Perreau, UMR 7301 Migrinter,
- Master M2 SPE, UE '270-3-71 - Geospatial and web development' 
- Created on 12 november 2025
- Updated on 12/11/2025

This work to was proposed as TEA in 2020

- Import GPS values from the CSV file ‘Kap Hoegh GLS 20102011_sun3.csv’ (there are outliers, because of the false latitudes) : was the code to 04_arctox.ipynb
  - Instead, in 2025, import the other part of the dataset coming from the XLSX file
  
- Build the bird path : make a GROUP BY bird_id, and sort in chronological order each point per bird 
- Compute the total length of the path
- Connect through a python program to database
- Plot a bokeh map and/or a folium map (you can use geopandas)
- Remove/clean abnormal values : outliers detection

- replace the bad latitude values with clever values using python / SQL : outliers detection
- redo the job of computing points and paths of birds using python / SQL

## 1. Read Data

In [ ]:
import pandas as pd

#https://github.com/cplumejeaud/M2_python/raw/refs/heads/main/data/arctox/complet.xls
tousLesPointsGPS = r"C:\Travail\Enseignement\Cours_M2_python\Projet_Arctox\complet.xls"
allGPS = pd.read_excel(tousLesPointsGPS, sheet_name='complete')

allGPS.head()
allGPS.shape

(20380, 17)

In [21]:
#1. rename some columns
allGPS = allGPS.rename(columns={"ID" : "id", "date": "dategps", "time": "timegps", "Long2" : "long", "Lat2" : "lat"})

#2. remove useless columns
allGPS = allGPS.drop(['ID_ID', 'Lat1', 'Long', 'blabla', 'transition1',	'transition2'], axis=1)
#Sex	period	distance	direction	velocity	confidence


print(allGPS.columns)

Index(['id', 'Sex', 'period', 'dategps', 'timegps', 'lat', 'long', 'distance',
       'direction', 'velocity', 'confidence'],
      dtype='object')

In [22]:
allGPS.dategps

0       2009-09-01
1       2009-09-02
2       2009-09-02
3       2009-09-03
4       2009-09-03
           ...
20375   2010-04-29
20376   2010-04-29
20377   2010-04-30
20378   2010-04-30
20379   2010-05-01
Name: dategps, Length: 20380, dtype: datetime64[ns]

### Vous avez besoin d'un axe temporel : une colonne timestamp

- https://realpython.com/python-datetime/ 
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
- https://www.delftstack.com/fr/howto/python-pandas/how-to-convert-dataframe-column-to-datetime-in-pandas/

In [23]:
#3. Add a timestamp column
allGPS.dategps = allGPS.dategps.astype(str)
allGPS.timegps = allGPS.timegps.astype(str)

allGPS['timestampgps'] = allGPS.dategps+' '+allGPS.timegps
format_string = "%Y-%m-%d %H:%M:%S"
from datetime import datetime

allGPS.timestampgps = allGPS.timestampgps.apply(lambda x: datetime.strptime(x, format_string))
allGPS.head()

,id,Sex,period,dategps,timegps,lat,long,distance,direction,velocity,confidence,timestampgps
0,3606,F,midnight,2009-09-01,23:25:00,77.16,8.70,0.00,0.00,0.00,9,2009-09-01 23:25:00
1,3606,F,noon,2009-09-02,10:59:00,77.21,15.04,0.00,0.00,0.00,9,2009-09-02 10:59:00
2,3606,F,midnight,2009-09-02,23:32:00,75.31,6.87,162.95,-45.60,12.98,9,2009-09-02 23:32:00
3,3606,F,noon,2009-09-03,11:55:00,75.45,1.08,88.09,84.53,7.11,9,2009-09-03 11:55:00
4,3606,F,midnight,2009-09-03,23:18:00,77.83,10.17,190.46,-41.43,16.73,9,2009-09-03 23:18:00

In [24]:
allGPS.dtypes

id                       int64
Sex                     object
period                  object
dategps                 object
timegps                 object
lat                    float64
long                   float64
distance               float64
direction              float64
velocity               float64
confidence               int64
timestampgps    datetime64[ns]
dtype: object

## 2. Create a GeoDataFrame

In [26]:
#4. Create a GeoDataFrame
import geopandas

allGPS_geo = geopandas.GeoDataFrame(
    allGPS, geometry=geopandas.points_from_xy(allGPS.long, allGPS.lat), crs="EPSG:4326"
)
allGPS_geo.head()

,id,Sex,period,dategps,timegps,lat,long,distance,direction,velocity,confidence,timestampgps,geometry
0,3606,F,midnight,2009-09-01,23:25:00,77.16,8.70,0.00,0.00,0.00,9,2009-09-01 23:25:00,POINT (8.70000 77.16000)
1,3606,F,noon,2009-09-02,10:59:00,77.21,15.04,0.00,0.00,0.00,9,2009-09-02 10:59:00,POINT (15.04000 77.21000)
2,3606,F,midnight,2009-09-02,23:32:00,75.31,6.87,162.95,-45.60,12.98,9,2009-09-02 23:32:00,POINT (6.87000 75.31000)
3,3606,F,noon,2009-09-03,11:55:00,75.45,1.08,88.09,84.53,7.11,9,2009-09-03 11:55:00,POINT (1.08000 75.45000)
4,3606,F,midnight,2009-09-03,23:18:00,77.83,10.17,190.46,-41.43,16.73,9,2009-09-03 23:18:00,POINT (10.17000 77.83000)

In [27]:
allGPS_geo.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

## 3. Enregistrer le geodataframe en BDD

In [29]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine, text as sql_text

#5.1. Créer le schema 'arctic' s'il n'existe pas
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
ORM_conn = connection.connect()
sql.execute(sql_text('create schema if not exists arctic '), ORM_conn)
ORM_conn.commit()
ORM_conn.close()

In [30]:
#5.2. Insérer les données dans une table 'gps_complet' du schema 'arctic'
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
ORM_conn = connection.connect()
allGPS_geo.to_postgis('gps_complet', con=ORM_conn , schema='arctic', if_exists='replace', index=False)
ORM_conn.commit()
ORM_conn.close()
#kap_hoegh_gls? 44 individus

## 4. Se servir de la BDD pour faire des calculs spatiaux

Par exemple, calculer la trajectoire des oiseaux

### Calculate bird paths

In [31]:
#6.Calculate bird paths

sql_query = """create table bird_paths as (
	select id, st_makeline(geometry) as linepath
	from (select id, geometry, timestampgps from gps_complet order by id, timestampgps) as q 
	group by id
	)"""
 
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie', 
                           connect_args={'options': '-csearch_path={}'.format('arctic,public')})
ORM_conn = connection.connect()
sql.execute(sql_text(sql_query), ORM_conn)
ORM_conn.commit()
ORM_conn.close()

### Calculer la longueur de la migration en km

In [34]:
#7. Compute migration lengths
 
sql_query = """alter table bird_paths add column migration_length float;
update bird_paths set migration_length = round(st_length(linepath, true)/ 1000);"""

connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie', 
                           connect_args={'options': '-csearch_path={}'.format('arctic,public')})
ORM_conn = connection.connect()
sql.execute(sql_text(sql_query), ORM_conn)
ORM_conn.commit()
ORM_conn.close()

## 5. Do a map to visualize bird paths

### First load data from DB

In [ ]:
#8. Visualize bird paths

#8.1. Load bird paths into a GeoDataFrame
import geopandas as gpd
query = """ SELECT id, migration_length, st_transform(linepath, 3857) as linepath from bird_paths """
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie', 
                           connect_args={'options': '-csearch_path={}'.format('arctic,public')})
ORM_conn = connection.connect()
data = gpd.GeoDataFrame.from_postgis(sql_text(query), ORM_conn, geom_col='linepath')

ORM_conn.close() #Close the connection
print(data.shape) #44, 3

(44, 3)
(44, 3)

### Use Bokeh for mapping

In [42]:
#8.2 Do the mapping with Bokeh
from bokeh.io import output_notebook, show
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar

# Make the plot

from bokeh.palettes import GnBu, PiYG11,Set3, Category20, Category20c, viridis
from bokeh.models.callbacks import CustomJS
from bokeh.transform import linear_cmap, factor_cmap, transform
from bokeh.models import GeoJSONDataSource
from bokeh.plotting import figure, show

palette = viridis(data.shape[0])
   
            
data['Color'] = 'black'
for index, row in data.iterrows():
    data.loc[index, 'Color'] = palette[index]

    
# slight modification to have the GeoJSONDataSource working
geo_source = GeoJSONDataSource(geojson=data.to_json())


# Bokeh converts the GeoJSON coordinates into columns called x and y or xs and ys (depending on whether the features are Points, Lines, MultiLines, Polygons, or MultiPolygons). 
# Properties with clashing names will be overridden when the GeoJSON is converted and should be avoided.
# https://docs.bokeh.org/en/latest/docs/user_guide/interaction/js_callbacks.html
TOOLTIPS = [('migration length', '@migration_length'), ('bird id', '@id')]

p = figure(x_range=(-9587947, 1113194), y_range=(3503549, 13195489),
           x_axis_type="mercator", y_axis_type="mercator", 
           background_fill_color="lightgrey",  tooltips=TOOLTIPS)

p.add_tile("CartoDB Positron", retina=True)

p.multi_line(xs='xs', ys='ys', line_color='Color', source=geo_source, line_width=1)

show(p)

## 6. Smooth bad geographic coordinates (lat and long) within python

- https://jakevdp.github.io/PythonDataScienceHandbook/05.13-kernel-density-estimation.html  
- https://stackoverflow.com/questions/20618804/how-to-smooth-a-curve-in-the-right-way

Préparer la table gps_complet

```SQL
alter table gps_complet add column if not exists clean_lat float null;
update gps_complet set clean_lat = null;
update gps_complet set clean_lat = lat where lat < 85 and lat > 35; -- 26974 lines

alter table gps_complet add column clean_long float null;
update gps_complet set clean_long = null;
update gps_complet set clean_long = long where long < 75 and long > -75; -- 26974 lines

alter table gps_complet add column smooth_lat float;
alter table gps_complet add column smooth_long float;
```

In [18]:
#9. Smooth bad latitude points

from tsmoothie.smoother import * #pip install tsmoothie
import pandas.io.sql as sql
from sqlalchemy import create_engine, text

connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie', 
                           connect_args={'options': '-csearch_path={}'.format('arctic,public')})
ORM_conn = connection.connect()

query= """select id, timestampgps, clean_lat, clean_long 
    from arctic.gps_complet 
    where clean_lat is not null and clean_long is not null
    order by id, timestampgps """
df = sql.read_sql_query(text(query), ORM_conn)

#x = df.loc[:, ['timestampgps']].values #timestampgps
#y = df.loc[:,['clean_lat']].values
x = df[df.id==3648].timestampgps.values
y = df[df.id==3648].clean_lat.values

#https://pypi.org/project/tsmoothie/
#https://fr.wikipedia.org/wiki/Fen%C3%AAtrage 
#Second one : moving weighted average of span = 10, using hamming function
smoother = ConvolutionSmoother(window_len=20, window_type='hamming')
smoother.smooth(y)

# generate intervals
low, up = smoother.get_intervals('sigma_interval', n_sigma=2)

In [37]:
#10. Visualisise smoothed  latitude points

# plot the smoothed timeseries with intervals
from bokeh.plotting import show, figure, output_file, output_notebook

#output_notebook() 
output_file("smoothed_data.html")

p = figure(width=1600, height=800, x_axis_type='datetime')

# add a line renderer for smoothed line
p.line(x, smoother.smooth_data[0], line_width =3, color='blue')
p.circle(x, smoother.data[0], size =3, fill_color="white")
# add an area between low and up smoothed data
p.varea(x=x,y1=low[0], y2=up[0], alpha=0.3)

show(p)

In [38]:
#11. Save the result of smoothing

import numpy as np
#df['smooth_lat'] = smoother.smooth_data[0]

df['smooth_lat'] = np.nan
#df[df.id==3648].smooth_lat = smoother.smooth_data[0]
df.loc[df.id==3648, 'smooth_lat'] = smoother.smooth_data[0]

In [ ]:
import pandas as pd

df['smooth_long'] = np.nan
df['smooth_lat'] = np.nan

birds = pd.unique(df.id)
for bird_id  in birds:   
    #print(row.id, row.timestampgps, row.clean_lat, row.smooth_lat)
    print(bird_id)
    x = df[df.id==bird_id].timestampgps.values
    y = df[df.id==bird_id].clean_lat.values
    smoother = ConvolutionSmoother(window_len=20, window_type='hamming')
    smoother.smooth(y)
    df.loc[df.id==bird_id, 'smooth_lat'] = smoother.smooth_data[0]
    #Smooth longitudes also
    y = df[df.id==bird_id].clean_long.values
    smoother.smooth(y)
    df.loc[df.id==bird_id, 'smooth_long'] = smoother.smooth_data[0]

In [40]:
# Save the result
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
ORM_conn = connection.connect()
df.to_sql('gps_complet_smoothed', con=ORM_conn , schema='arctic', if_exists='replace', index=False)
ORM_conn.commit()
ORM_conn.close()

## 7. Visualize bird paths

Now, just redo the birdpaths

```SQL
create table bird_paths_smoothed as (
	select id, st_makeline(gpspoint) as linepath
	from (
	select id, st_setsrid(st_makepoint(smooth_long,smooth_lat), 4326) as gpspoint, 
		timestampgps 
		from gps_complet_smoothed 
		where  smooth_lat is not null and smooth_long is not null
		order by id, timestampgps) as q 
	group by id
	);

alter table bird_paths_smoothed add column migration_length float;
update bird_paths_smoothed set migration_length = round(st_length(linepath, true)/ 1000);
```

In [41]:
import geopandas as gpd
from pandas.io import sql
from sqlalchemy import create_engine, text as sql_text

query = """ SELECT id, migration_length, st_transform(linepath, 3857) as linepath from bird_paths_smoothed """
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie', 
                           connect_args={'options': '-csearch_path={}'.format('arctic,public')})
ORM_conn = connection.connect()
data = gpd.GeoDataFrame.from_postgis(sql_text(query), ORM_conn, geom_col='linepath')

ORM_conn.close() #Close the connection
print(data.shape) #44, 3

(44, 3)

In [58]:
data.id
data.dtypes

id                    object
migration_length     float64
linepath            geometry
Color                 object
dtype: object

## Lire les données d'analyse

In [44]:
df = pd.read_excel("https://github.com/cplumejeaud/M2_python/raw/refs/heads/main/data/arctox/data%20for%20analyses_2010_2011_analyses.xls", 
                            sheet_name="data for analyses_2010_2011_ana")
df.columns

Index(['Year', 'Bird_ID', 'GLS_ID', 'Sex', 'Date', 'Nest', 'Nest_content',
       'Capture_method', 'Headbill', 'Culmen', 'Wing', 'Right_tarsus', 'Mass',
       'Index_body_condition', 'Muscle_Pectoral', 'Score_Personal', 'Long_Egg',
       'Long_Egg_cm', 'Larg_Egg', 'Larg_Egg_cm', 'Vol_egg', 'Arrival_date',
       'Arrival_date_num', 'Arrival_date_propre', 'Arrival_date_propre_num',
       'date_enter_nest', 'date_enter_nest_num', 'Hatch_date',
       'Hatch_date_num', 'weigh_hatching', 'Hatching_success',
       'Chick_mass_gain_(g/d)_1st_15d', 'pente_chick_growth_1-15d',
       'N_SIA_Blood', 'N_SIA_head_Feather', 'C_SIA_Blood',
       'C_SIA_head_Feather', 'Chick_sex', 'Cortico', 'Hg_HF', 'Hg_blood',
       'Season_Hg_Blood', 'Hg_BF', 'BF_side', 'Long_Median_15Oct_20Fev',
       'Lat_Median_15Oct_20Fev', 'Long_Median_DecJan', 'Lat_Median_DecJan',
       'Long_Median_Dec_20Fev', 'Lat_Median_Dec_20Fev', 'd_PL_15Oct_20Fev',
       'd_PL_DecJan', 'd_PL_1Dec_20Fev', 'Max_d_col__Dec_Jan',
       'Max_d_col__15Oct_20Fev', 'PL_Lat', 'PL_Long'],
      dtype='object')

In [61]:
df[['Bird_ID', 'GLS_ID']].head()

pd.unique(df.GLS_ID)

array(['3506', '3597', '3600', '3603', '3604', '3607', '3611', '3613',
       '3614', '3617', '3620', '3621', '3626', '3632', '3635', '3638',
       '3639', '3641', '3642', '3644', '3646', '3647', '3648', '3649',
       '3651', '3653', '3654', '3658', '3660', '3665', '3666', '3669',
       '3671', '3673', '3674', '3675', '3680', '3682', '3683', '3687',
       '3688', '3689', '3698', '3699', '3701', '3702', 'Mk18-17585',
       'MK12-12A155', 'MK12-12A159', 'MK18-17589', 'SO-26', 'SO-19',
       'SO-2', 'SO-11', 'SO-5', 'SO-1', 'SO-32', 'MK12-12A148',
       'MK12-12A154', 'MK12-12A153', 'MK18-17584', 'Mk12-12A162',
       'Mk12-12A149', 'Mk12-12A163', 'SO-29', 'MK12-12A157', 'MK18-17586',
       'SO-13', 'SO-15', 'Mk14-3656', 'Mk14-3679', 'MK18-17587',
       'MK12-12A150', 'MK18-17582', 'MK18-17577', 'MK12-12A158',
       'MK12-12A151', 'Mk14-3668', 'SO-36', 'SO-7'], dtype=object)

### Joindre trajectoires et données d'analyse

- A gauche, les trajectoires
- A droite, les données attributaires

Pb : il faut un peu nettoyer df.GLS_ID.unique() en supprimant
- MK12-12A
- MK18-
- MK14-
- SO-
du fichier d'analyse

In [45]:
import numpy as np
print(type(df.GLS_ID.values))
# Caster en str ce mélange de numerique et de chaînes de caractères
df.GLS_ID = df.GLS_ID.apply(lambda _: str(_))
print(type(df.GLS_ID.values))

clean_GLSID = []
for i, r in df.iterrows():
    clean_gls_id = r.GLS_ID.upper().replace('MK12-12A', '').replace('MK14-', '').replace('MK18-', '').replace('SO-', '')
    clean_GLSID = np.append(clean_GLSID, clean_gls_id)

print(pd.unique(clean_GLSID))
df['clean_GLSID'] = clean_GLSID

## Supprimer les valeurs NAN du fichier d'Analyses

#df.dropna(subset=['clean_GLSID'], inplace = True)
df  = df[df.clean_GLSID != 'NAN']
print(df.shape)
df.clean_GLSID.unique()

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
['3506' '3597' '3600' '3603' '3604' '3607' '3611' '3613' '3614' '3617'
 '3620' '3621' '3626' '3632' '3635' '3638' '3639' '3641' '3642' '3644'
 '3646' '3647' '3648' '3649' '3651' '3653' '3654' '3658' '3660' '3665'
 '3666' '3669' '3671' '3673' '3674' '3675' '3680' '3682' '3683' '3687'
 '3688' '3689' '3698' '3699' '3701' '3702' '17585' '155' '159' '17589'
 '26' '19' '2' '11' '5' '1' '32' '148' '154' '153' '17584' '162' '149'
 '163' '29' '157' '17586' '13' '15' '3656' '3679' '17587' '150' '17582'
 '17577' '158' '151' '3668' '36' '7' 'NAN']
(81, 58)

array(['3506', '3597', '3600', '3603', '3604', '3607', '3611', '3613',
       '3614', '3617', '3620', '3621', '3626', '3632', '3635', '3638',
       '3639', '3641', '3642', '3644', '3646', '3647', '3648', '3649',
       '3651', '3653', '3654', '3658', '3660', '3665', '3666', '3669',
       '3671', '3673', '3674', '3675', '3680', '3682', '3683', '3687',
       '3688', '3689', '3698', '3699', '3701', '3702', '17585', '155',
       '159', '17589', '26', '19', '2', '11', '5', '1', '32', '148',
       '154', '153', '17584', '162', '149', '163', '29', '157', '17586',
       '13', '15', '3656', '3679', '17587', '150', '17582', '17577',
       '158', '151', '3668', '36', '7'], dtype=object)

In [46]:
## On fait la jointure sur des type identiques (id passe de int à string)
data.id = data.id.apply(lambda x: str(x))

In [62]:
## Jointure

birds = data.join(df.set_index('clean_GLSID'), on='id', lsuffix='_gps', rsuffix='_ana', how='inner')


print(birds.shape)
print(birds.columns)
birds.head()

(42, 61)
Index(['id', 'migration_length', 'linepath', 'Color', 'Year', 'Bird_ID',
       'GLS_ID', 'Sex', 'Date', 'Nest', 'Nest_content', 'Capture_method',
       'Headbill', 'Culmen', 'Wing', 'Right_tarsus', 'Mass',
       'Index_body_condition', 'Muscle_Pectoral', 'Score_Personal', 'Long_Egg',
       'Long_Egg_cm', 'Larg_Egg', 'Larg_Egg_cm', 'Vol_egg', 'Arrival_date',
       'Arrival_date_num', 'Arrival_date_propre', 'Arrival_date_propre_num',
       'date_enter_nest', 'date_enter_nest_num', 'Hatch_date',
       'Hatch_date_num', 'weigh_hatching', 'Hatching_success',
       'Chick_mass_gain_(g/d)_1st_15d', 'pente_chick_growth_1-15d',
       'N_SIA_Blood', 'N_SIA_head_Feather', 'C_SIA_Blood',
       'C_SIA_head_Feather', 'Chick_sex', 'Cortico', 'Hg_HF', 'Hg_blood',
       'Season_Hg_Blood', 'Hg_BF', 'BF_side', 'Long_Median_15Oct_20Fev',
       'Lat_Median_15Oct_20Fev', 'Long_Median_DecJan', 'Lat_Median_DecJan',
       'Long_Median_Dec_20Fev', 'Lat_Median_Dec_20Fev', 'd_PL_15Oct_20Fev',
       'd_PL_DecJan', 'd_PL_1Dec_20Fev', 'Max_d_col__Dec_Jan',
       'Max_d_col__15Oct_20Fev', 'PL_Lat', 'PL_Long'],
      dtype='object')

,id,migration_length,linepath,Color,Year,Bird_ID,GLS_ID,Sex,Date,Nest,...,Lat_Median_DecJan,Long_Median_Dec_20Fev,Lat_Median_Dec_20Fev,d_PL_15Oct_20Fev,d_PL_DecJan,d_PL_1Dec_20Fev,Max_d_col__Dec_Jan,Max_d_col__15Oct_20Fev,PL_Lat,PL_Long
0,3698,4857.0,"LINESTRING (-457137.614 13640645.008, -451813....",#440154,2010.0,LIAK10EG15,3698,M,2010-07-12,M13,...,NaN,NaN,NaN,1409.484843,NaN,NaN,NaN,3678.313575,NaN,NaN
1,3597,15012.0,"LINESTRING (-1635846.855 12763244.235, -163684...",#45085B,2010.0,LIAK10EG35,3597,F,2010-07-14,NaN,...,40.342845,51.024582,39.965990,686.282297,750.666879,776.664501,5467.687660,5835.943260,NaN,NaN
2,3600,5984.0,"LINESTRING (-636048.927 13490300.675, -631223....",#471163,2010.0,LIAK10EG32,3600,F,2010-07-13,M7,...,NaN,NaN,NaN,569.587981,NaN,NaN,NaN,4800.828140,NaN,NaN
3,3603,19337.0,"LINESTRING (3748492.794 15182389.271, 3744664....",#48196B,2010.0,LIAK10EG05,3603,F,2010-07-11,M42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3604,14061.0,"LINESTRING (-1088439.562 13444921.819, -108333...",#482172,2010.0,LIAK10EG23,3604,M,2010-07-12,M49,...,40.958521,58.408480,40.729317,985.379029,1038.185445,1044.011251,5675.135423,6027.432746,NaN,NaN

## Sauver en base de données

In [68]:
connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
ORM_conn = connection.connect()
birds.to_postgis('birds', con=ORM_conn , schema='arctic', if_exists='replace', index=False)
ORM_conn.commit()
ORM_conn.close()

### Functions to get data from database

In [183]:
# Créer une fonction get_data 

def get_arctox_data():
    """ Fonction de récupération des données arctox depuis la base PostGIS qui retourne un GeoDataFrame """
    
    connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
    ORM_conn = connection.connect()
    query = """ SELECT * from arctic.birds """
    birds = gpd.GeoDataFrame.from_postgis(sql_text(query), ORM_conn, geom_col='linepath')
    ORM_conn.close()
    
    #Supprimer les colonnes de type Timestamp que JSON n'arrive pas à serialiser, et inutiles pour nos analyses
    birds.drop(['Arrival_date', 'Arrival_date_num', 'Arrival_date_propre', 'Arrival_date_propre_num'], axis=1, inplace=True)
    birds.drop(['date_enter_nest', 'date_enter_nest_num', 'Hatch_date', 'Hatch_date_num'], axis=1, inplace=True)
    birds.drop(['Date'], axis=1, inplace=True)
    
    #Passage en casse minuscule des noms de colonnes
    dico = dict()
    for c in birds.columns:
        dico[c] = c.lower() 

    #print(dico)  
    birds.rename(columns=dico, inplace=True)
    
    
    return birds

test = get_arctox_data()
print(test.shape) #(42, 61)
test.head()

(42, 52)

,id,migration_length,linepath,color,year,bird_id,gls_id,sex,nest,nest_content,...,lat_median_decjan,long_median_dec_20fev,lat_median_dec_20fev,d_pl_15oct_20fev,d_pl_decjan,d_pl_1dec_20fev,max_d_col__dec_jan,max_d_col__15oct_20fev,pl_lat,pl_long
0,3698,4857.0,"LINESTRING (-457137.614 13640645.008, -451813....",#440154,2010.0,LIAK10EG15,3698,M,M13,E,...,NaN,NaN,NaN,1409.484843,NaN,NaN,NaN,3678.313575,None,None
1,3597,15012.0,"LINESTRING (-1635846.855 12763244.235, -163684...",#45085B,2010.0,LIAK10EG35,3597,F,None,None,...,40.342845,51.024582,39.965990,686.282297,750.666879,776.664501,5467.687660,5835.943260,None,None
2,3600,5984.0,"LINESTRING (-636048.927 13490300.675, -631223....",#471163,2010.0,LIAK10EG32,3600,F,M7,E,...,NaN,NaN,NaN,569.587981,NaN,NaN,NaN,4800.828140,None,None
3,3603,19337.0,"LINESTRING (3748492.794 15182389.271, 3744664....",#48196B,2010.0,LIAK10EG05,3603,F,M42,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
4,3604,14061.0,"LINESTRING (-1088439.562 13444921.819, -108333...",#482172,2010.0,LIAK10EG23,3604,M,M49,E,...,40.958521,58.408480,40.729317,985.379029,1038.185445,1044.011251,5675.135423,6027.432746,None,None

In [160]:
def get_arctox_gps_data():
    connection = create_engine('postgresql://postgres:postgres@localhost:5432/savoie')
    ORM_conn = connection.connect()
    query = """ SELECT id, timestampgps, smooth_lat, smooth_long, st_x(point3857) as x, st_y(point3857) as y
    from (
	    select *,  
	    st_transform(st_setsrid(st_makepoint(smooth_long, smooth_lat), 4326), 3857) as point3857 
	    from arctic.gps_complet_smoothed) as q"""
    gps = sql.read_sql_query(text(query), ORM_conn)
    ORM_conn.close()
    return gps

test2 = get_arctox_gps_data()
print(test2.shape) #(18750, 3)
test2.head()

(18750, 6)

,id,timestampgps,smooth_lat,smooth_long,x,y
0,3597,2009-08-27 00:54:00,74.602008,-14.695062,-1.635847e+06,1.276324e+07
1,3597,2009-08-27 12:58:00,74.606641,-14.704007,-1.636843e+06,1.276519e+07
2,3597,2009-08-28 01:03:00,74.619074,-14.720600,-1.638690e+06,1.277040e+07
3,3597,2009-08-28 13:05:00,74.629097,-14.759939,-1.643069e+06,1.277461e+07
4,3597,2009-08-29 01:08:00,74.636734,-14.819664,-1.649717e+06,1.277782e+07

## Faire les graphiques

### Regarder les tutoriaux Bokeh, adapter le code

In [65]:
x = birds.migration_length

print(x.describe())

count       42.000000
mean     13622.023810
std       3159.043206
min       4857.000000
25%      12025.000000
50%      14601.500000
75%      15399.500000
max      19337.000000
Name: migration_length, dtype: float64

https://docs.bokeh.org/en/3.0.3/docs/examples/topics/stats/histogram.html

In [75]:
import numpy as np

from bokeh.plotting import figure, show
from scipy.stats.kde import gaussian_kde


varname='migration_length'

x = birds[varname]


p = figure(width=670, height=400, toolbar_location=None,
           title=f"Distribution de la variable {varname}")

# Histogram
bins = np.linspace(min(x), max(x), 40)
hist, edges = np.histogram(x, density=True, bins=bins)
p.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
         fill_color="skyblue", line_color="white",
         legend_label=varname)

#Probability density function
x = np.linspace(min(x), max(x), 100)
pdf = gaussian_kde(x)
p.line(x, pdf(x), line_width=2, line_color="navy",
       legend_label="Probability Density Function")

p.y_range.start = 0
p.xaxis.axis_label = "x"
p.yaxis.axis_label = "PDF(x)"

show(p)

C:\Users\cplumeje\AppData\Local\Temp\ipykernel_38064\90669519.py:4: DeprecationWarning: Please use `gaussian_kde` from the `scipy.stats` namespace, the `scipy.stats.kde` namespace is deprecated.
  from scipy.stats.kde import gaussian_kde

In [48]:
import pandas as pd
import numpy as np
from os.path import dirname, join

from numpy import histogram, linspace
from scipy.stats.kde import gaussian_kde

from bokeh.embed import components
from bokeh.resources import INLINE

from bokeh.plotting import figure, output_file, show, output_notebook
from bokeh.tile_providers import CARTODBPOSITRON, get_provider  
from bokeh.models.mappers import CategoricalColorMapper

from bokeh.models import ColumnDataSource, HoverTool
from bokeh.palettes import GnBu, PiYG11,Set3, Category20, Category20c
from bokeh.transform import linear_cmap, factor_cmap

import pandas.io.sql as sql
from sqlalchemy import create_engine


from bokeh.io import curdoc
from bokeh.layouts import column, row
from bokeh.models import (Button, ColumnDataSource, CustomJS, DataTable,
                          NumberFormatter, RangeSlider, TableColumn,)

C:\Users\cplumeje\AppData\Local\Temp\ipykernel_38064\3636822748.py:6: DeprecationWarning: Please use `gaussian_kde` from the `scipy.stats` namespace, the `scipy.stats.kde` namespace is deprecated.
  from scipy.stats.kde import gaussian_kde
BokehDeprecationWarning: 'tile_providers module' was deprecated in Bokeh 3.0.0 and will be removed, use 'add_tile directly' instead.

### Histogram

In [232]:
def fig_histogram_variable(varname = 'migration_length'):
    variable = birds[varname]

    variable = pd.to_numeric(variable, errors='coerce')
    minv = round(min(variable[np.isfinite(variable)]))-1
    maxv = round(max(variable[np.isfinite(variable)])) +1

    hist, edges = histogram(variable[np.isfinite(variable)], density=True, bins=20) 
    x = linspace(minv,maxv,num=(maxv - minv)*15)
    pdf = gaussian_kde(variable[np.isfinite(variable)])

    p2 = figure(title=f"Distribution of {varname}",background_fill_color="pink") 
    p2.line(x, pdf(x))
    p2.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:], 
        line_color="#033649", alpha=0.5) 

    return p2

#Tester la fonction
p = fig_histogram_variable('migration_length')
show(p)

### Boxplot

In [ ]:
birds.columns

In [52]:
# find the outliers for each category
def outliers(group, upper, lower):
    cat = group.name
    return group[(group.score > upper.loc[cat]['score']) | (group.score < lower.loc[cat]['score'])]['score']

In [184]:
def fig_boxplot_variable(varname = 'migration_length'):
    #score est le nom standard pour la variable à étudier, ici migration_length, utilisée dans la fonction outliers (group.score)
    birds['score'] = birds['migration_length']
    
    cats = list(birds.sex.unique())
    # find the quartiles and IQR for each category
    groups = birds.groupby('sex')
    q1 = groups.quantile(q=0.25, numeric_only =True)
    q2 = groups.quantile(q=0.5, numeric_only =True)
    q3 = groups.quantile(q=0.75, numeric_only =True)
    iqr = q3 - q1
    upper = q3 + 1.5*iqr
    lower = q1 - 1.5*iqr

    out = groups.apply(outliers, upper, lower).dropna()

    # prepare outlier data for plotting, we need coordinates for every outlier.
    if not out.empty:
        outx = []
        outy = []
        for keys in out.index:
            outx.append(keys[0])
            outy.append(out.loc[keys[0]].loc[keys[1]])

    p = figure(title = "Compare [%s] according to sex" % (varname), tools="", background_fill_color="#efefef", x_range=cats)
    #, toolbar_location=None
    # if no outliers, shrink lengths of stems to be no longer than the minimums or maximums
    qmin = groups.quantile(q=0.00,  numeric_only =True)
    qmax = groups.quantile(q=1.00, numeric_only =True)
    upper.score = [min([x,y]) for (x,y) in zip(list(qmax.loc[:,'score']),upper.score)]
    lower.score = [max([x,y]) for (x,y) in zip(list(qmin.loc[:,'score']),lower.score)]

    # stems
    p.segment(cats, upper.score, cats, q3.score, line_color="black")
    p.segment(cats, lower.score, cats, q1.score, line_color="black")

    # boxes
    p.vbar(cats, 0.7, q2.score, q3.score, fill_color="darkturquoise", line_color="black")
    p.vbar(cats, 0.7, q1.score, q2.score, fill_color="darkturquoise", line_color="black")

    # whiskers (almost-0 height rects simpler than segments)
    p.rect(cats, lower.score, 0.2, 0.01, line_color="black")
    p.rect(cats, upper.score, 0.2, 0.01, line_color="black")

    # outliers
    if not out.empty:
        p.circle(outx, outy, size=6, color="palevioletred", fill_alpha=0.6)

    p.xgrid.grid_line_color = None
    p.ygrid.grid_line_color = "white"
    p.grid.grid_line_width = 2
    p.xaxis.major_label_text_font_size="16px"
    
    return p

#Tester la fonction
p = fig_boxplot_variable('migration_length')
show(p)

### The scatterplot

In [ ]:
yvarname='hg_bf' #Le mercure dans les plumes du corps
xvarname='migration_length'
birds[[xvarname, yvarname, 'sex']]

In [186]:
def fig_scatterplot_variable(yvarname='hg_bf', xvarname='migration_length') :
    birds[yvarname] = pd.to_numeric(birds[yvarname], errors='coerce')
    birds[xvarname] = pd.to_numeric(birds[xvarname], errors='coerce')

    index_cmap = factor_cmap('sex', palette=['palevioletred', 'darkturquoise'], 
                         factors=sorted(birds.sex.unique()))

    p3 = figure(title = "[%s] according to [%s]" % (yvarname, xvarname))
    p3.scatter(xvarname,yvarname,source=birds[[xvarname, yvarname, 'sex']],fill_color = index_cmap, color = 'black', size=10, legend_field='sex')
    p3.xaxis.axis_label = xvarname
    p3.yaxis.axis_label = yvarname
    p3.legend.location = "top_left"

    return p3

#Tester la fonction
p = fig_scatterplot_variable('hg_bf', 'migration_length')
show(p)

### The map

In [241]:
#geo_source = GeoJSONDataSource(geojson=birds.to_json())
birds.dtypes

id                                 object
migration_length                  float64
linepath                         geometry
color                              object
year                              float64
bird_id                            object
gls_id                             object
sex                                object
nest                               object
nest_content                       object
capture_method                     object
headbill                          float64
culmen                            float64
wing                              float64
right_tarsus                      float64
mass                              float64
index_body_condition              float64
muscle_pectoral                   float64
score_personal                    float64
long_egg                          float64
long_egg_cm                       float64
larg_egg                          float64
larg_egg_cm                       float64
vol_egg                           float64
weigh_hatching                     object
hatching_success                   object
chick_mass_gain_(g/d)_1st_15d     float64
pente_chick_growth_1-15d          float64
n_sia_blood                       float64
n_sia_head_feather                float64
c_sia_blood                       float64
c_sia_head_feather                float64
chick_sex                          object
cortico                           float64
hg_hf                             float64
hg_blood                          float64
season_hg_blood                    object
hg_bf                             float64
bf_side                            object
long_median_15oct_20fev           float64
lat_median_15oct_20fev            float64
long_median_decjan                float64
lat_median_decjan                 float64
long_median_dec_20fev             float64
lat_median_dec_20fev              float64
d_pl_15oct_20fev                  float64
d_pl_decjan                       float64
d_pl_1dec_20fev                   float64
max_d_col__dec_jan                float64
max_d_col__15oct_20fev            float64
pl_lat                             object
pl_long                            object
dtype: object

In [188]:

geo_source = GeoJSONDataSource(geojson=birds.to_json())
birds.columns

Index(['id', 'migration_length', 'linepath', 'color', 'year', 'bird_id',
       'gls_id', 'sex', 'nest', 'nest_content', 'capture_method', 'headbill',
       'culmen', 'wing', 'right_tarsus', 'mass', 'index_body_condition',
       'muscle_pectoral', 'score_personal', 'long_egg', 'long_egg_cm',
       'larg_egg', 'larg_egg_cm', 'vol_egg', 'weigh_hatching',
       'hatching_success', 'chick_mass_gain_(g/d)_1st_15d',
       'pente_chick_growth_1-15d', 'n_sia_blood', 'n_sia_head_feather',
       'c_sia_blood', 'c_sia_head_feather', 'chick_sex', 'cortico', 'hg_hf',
       'hg_blood', 'season_hg_blood', 'hg_bf', 'bf_side',
       'long_median_15oct_20fev', 'lat_median_15oct_20fev',
       'long_median_decjan', 'lat_median_decjan', 'long_median_dec_20fev',
       'lat_median_dec_20fev', 'd_pl_15oct_20fev', 'd_pl_decjan',
       'd_pl_1dec_20fev', 'max_d_col__dec_jan', 'max_d_col__15oct_20fev',
       'pl_lat', 'pl_long', 'score'],
      dtype='object')

In [189]:
gps = get_arctox_gps_data()
gps.query(" id == 3597")

,id,timestampgps,smooth_lat,smooth_long,x,y
0,3597,2009-08-27 00:54:00,74.602008,-14.695062,-1.635847e+06,1.276324e+07
1,3597,2009-08-27 12:58:00,74.606641,-14.704007,-1.636843e+06,1.276519e+07
2,3597,2009-08-28 01:03:00,74.619074,-14.720600,-1.638690e+06,1.277040e+07
3,3597,2009-08-28 13:05:00,74.629097,-14.759939,-1.643069e+06,1.277461e+07
4,3597,2009-08-29 01:08:00,74.636734,-14.819664,-1.649717e+06,1.277782e+07
...,...,...,...,...,...,...
435,3597,2010-05-02 02:56:00,57.577858,-41.765570,-4.649322e+06,7.879157e+06
436,3597,2010-05-02 14:55:00,58.233743,-40.837430,-4.546002e+06,8.016581e+06
437,3597,2010-05-03 02:26:00,58.766898,-40.057670,-4.459199e+06,8.130174e+06
438,3597,2010-05-03 14:31:00,59.150229,-39.488815,-4.395875e+06,8.212928e+06
439,3597,2010-05-04 01:38:00,59.350027,-39.189613,-4.362568e+06,8.256429e+06

In [242]:
def fig_map_variable(filterBird = 'LIAK10EG15'):
    print(filterBird)

    ## Filter GPS data with the choosen bird
    if filterBird!=None and len(filterBird)>0:
        df = birds.query(" bird_id == @filterBird ")
    else :
        df = birds.query(" bird_id == 'LIAK10EG15' ")
    
    #print(df.shape)  
    gpsnumber = int(df.id.values[0]) 
    #print(gpsnumber)  
    gpstrack = gps.query(" id == @gpsnumber ")
    #print(gpstrack.shape)  
  
    ## Build the map
    p = figure(x_range=(-9587947, 1113194), y_range=(3503549, 13195489),
               x_axis_type="mercator", y_axis_type="mercator")

    p.add_tile("CartoDB Positron", retina=True)

    # slight modification to have the GeoJSONDataSource working
    geo_source = GeoJSONDataSource(geojson=df.to_json())
    msourceGPS = ColumnDataSource(gpstrack)

    # https://docs.bokeh.org/en/latest/docs/reference/palettes.html
    #First solution for points color : time on a continuous scale
    #process the time dimension
    thisbirdtimes = gpstrack.timestampgps.values
    thisbirdtimes = pd.to_datetime(thisbirdtimes) #transform string into datetime type
    t = np.array([xi.timestamp()  for xi in thisbirdtimes])  #transform datetime into float type
    msourceGPS.add(t, 'timeasreal')
    point_mapper = linear_cmap(field_name='timeasreal', palette=GnBu[9], low=min(t), high=max(t))
    #OK for time on a continuous scale, you can also use the palette PiYG11

    p.multi_line(xs='xs', ys='ys', source=geo_source, line_color='red', line_width=1)
    ## Afficher les coordonnées GPS de cet oiseau
    p.circle(x='x', y='y', size=7, source=msourceGPS, fill_color=point_mapper, fill_alpha=1, line_alpha=0)
    return p
 
#Tester la fonction
m = fig_map_variable()
show(m)

LIAK10EG15

### Table

https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html

In [197]:
def update(df, source, slider):
    '''
    called by build_table
    This filter the lines according to hg_hf criteria (a range choosen by the user)
    '''

    current = df[(df['hg_hf'] >= slider.value[0]) & (df['hg_hf'] <= slider.value[1])].dropna()
    source.data = {
        'bird_id'             : current.bird_id,
        'sex'           : current.sex,
        'vol_egg' : current.vol_egg,
        'hatching_success' : current.hatching_success,
        'hg_hf' : current.hg_hf,
        'migration_length' : current.migration_length,
    }

In [ ]:
import os
# path_to_webapp = "C:/Travail/Enseignement/Cours_M2_python/Projet_Arctox/backup/webapp/"
path_to_webapp = "C:/Travail/Enseignement/Cours_M2_python/2023/code/python"
# TEMPLATE_PATH = os.path.join(path_to_webapp, 'templates/')
STATIC_PATH = os.path.join(path_to_webapp, 'static/')

def build_table():
      
    df = birds[['bird_id', 'sex', 'vol_egg', 'hatching_success',  'hg_hf', 'hg_blood', 'hg_bf', 'migration_length']]
    source = ColumnDataSource(df)

    ## Créer un slider qui sélectionne la valeur hg_hf
    minv = round(min(df.hg_hf.dropna()))-0.25
    maxv = round(max(df.hg_hf.dropna()))+0.25

    #https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html
    slider = RangeSlider(title="HF Mercury range", start=minv, end=maxv, value=(minv, maxv), step=0.25, format="0,0")

    #This js callback filter the data on client side, according to the hg_bf range specified with the slider
    # Require a dataframe.min.js file that sould be set into STATIC_PATH
    callback = CustomJS(args=dict(source=source), code="""
        var data = source.data;
        //console.log(data);

        var minv = cb_obj.value[0];
        var maxv = cb_obj.value[1];
        
        //Using dataframe.js
        //https://gmousse.gitbooks.io/dataframe-js/content/doc/BASIC_USAGE.html#export-or-convert-a-dataframe
        //import in script : https://gmousse.github.io/dataframe-js/dist/dataframe.min.js
        
        var DataFrame = dfjs.DataFrame;
        const df = new DataFrame(data);
        const filteredDf = df.filter(row => row.get("hg_hf") <= maxv && row.get("hg_hf") >= minv); 
        //console.log(filteredDf.toDict());
        
        source.data = filteredDf.toDict();
        source.change.emit();
    """)
    slider.js_on_change('value', callback)
    
    
    #Export CSV (use a download.js javascript file set in STATIC_PATH )
    button = Button(label="Download", button_type="success")
    button.js_on_click(CustomJS(args=dict(source=source), 
                                code=open(join(STATIC_PATH, "download.js")).read()))

    #bird_id 	sex 	vol_egg 	hatching_success 	wing 	right_tarsus 	mass 	hg_hf 	hg_blood 	hg_bf 	migration_length 	max_shoreline_distance 	mean_shoreline_distance 	wintering_area_km2 	wintering_area_days
    #ATTENTION aux noms de colonnes : pas d'espaces, pas de caractères spéciaux

    columns = [
        TableColumn(field="bird_id", title="bird id"),
        TableColumn(field="sex", title="sex"),        
        TableColumn(field="vol_egg", title="Egg volume (mm3)", formatter=NumberFormatter(format="00.00")),
        TableColumn(field="hatching_success", title="Hatching success"),
        TableColumn(field="hg_hf", title="Mercury in Head Feather ", formatter=NumberFormatter(format="0.00000")),
        TableColumn(field="migration_length", title="Length of migration (km)", formatter=NumberFormatter(format="00000")),

    ]

    data_table = DataTable(source=source, columns=columns, width=1600, selectable="checkbox")
    controls = column(slider, button)
    
    callback_table = CustomJS(args=dict(source=source), code="""
        console.log(source.selected.indices);
        var bird_id = source.data['bird_id'][source.selected.indices];
        //console.log(source.data['bird_id'][source.selected.indices]);
        console.log(bird_id);
        $.getJSON('/ajaxviz', {
                  bird: bird_id,
                  }, function(data) {
                      $('#plot_content').html(data.html_plot);
        });
        console.log('Map is updated to show this bird '+bird_id);
    """)
    source.selected.js_on_change('indices', callback_table)

    
    # tout is made of two lines : one with controls, the other with data_table
    tout = column(row(slider, button), data_table)
    
    update(df, source, slider)

    return tout

tableau = build_table()
show(tableau)

## Lancer le serveur

In [246]:
from flask import Flask, jsonify, abort, render_template,url_for,request, make_response
from flask_cors import CORS, cross_origin
from flask_caching import Cache

import csv
import json
import io
import os
import pprint

import pandas as pd


path_to_webapp = "C:/Travail/Enseignement/Cours_M2_python/2023/code/python"
#path_to_webapp = os.path.dirname(os.path.abspath(__file__))   # refers to application_top
TEMPLATE_PATH = os.path.join(path_to_webapp, 'templates/')
STATIC_PATH = os.path.join(path_to_webapp, 'static/')

#https://stackoverflow.com/questions/21765692/flask-render-template-with-path
# Flask définit par défaut le répertoire où se situe les templates (dans un répertoire templates sous l'emplacement du code de la webapp). 
# Mais avec ce code, vous pouvez le configurer
app = Flask(__name__, template_folder = TEMPLATE_PATH)

global birds 
global gps

port = '82'

@app.route('/data')
def flush_json():
    print('Flush data')
    jsonx = birds.to_json()
    return jsonx

@app.route('/')
def index():
    """
    Initial plot 
    """
    
    map = fig_map_variable()
    histo = fig_histogram_variable()
    scatter = fig_scatterplot_variable()
    boxplt = fig_boxplot_variable()

    data_table = build_table()
    table_script, table_div = components(data_table)

    # grab the static resources
    js_resources = INLINE.render_js()
    #print(js_resources)
    css_resources = INLINE.render_css()

    # render template
    script, div = components(map)
    histplot_script, histplot_div = components(histo)
    scatterplot_script, scatterplot_div = components(scatter)
    boxplot_script, boxplot_div = components(boxplt)


    tab = birds[['bird_id', 'sex', 'vol_egg', 'hatching_success', 'wing', 'right_tarsus', 'mass', 'hg_hf', 'hg_blood', 'hg_bf', 'migration_length']]
    #'max_shoreline_distance', 'mean_shoreline_distance', 'wintering_area_km2', 'wintering_area_days'
    

        
    html = render_template(
        'arctox_webapp.html',
        plot_script=script,
        plot_div=div,
        table_div = table_div,
        table_script = table_script,
        js_resources=js_resources,
        css_resources=css_resources,
        scatterplot_script=scatterplot_script,
        scatterplot_div=scatterplot_div,
        boxplot_script=boxplot_script,
        boxplot_div=boxplot_div,
        histplot_script=histplot_script,
        histplot_div=histplot_div
    )

    return html

@app.route('/ajaxviz', methods=['GET','POST'])
def viz_ajax():
    #df = getArtox_data_for_analyses()
    #Parse the param
    bird = request.args.get("bird")
    fig = fig_map_variable(bird)
    
    # render template
    script, div = components(fig)

    # pass the div and script to render_template    
    return jsonify(
        html_plot=render_template('update_figure.html', plot_script=script, plot_div=div)
    )

@app.route('/ajaxplot', methods=['GET','POST'])
def viz_plot():
    ''' 
    Update plots according to selected variable
    '''
    #Parse the param
    varname = request.args.get("varname")
    if (varname is not None and len(varname)>0) :
        histo = fig_histogram_variable(varname)
        scatter = fig_scatterplot_variable(yvarname='hg_hf', xvarname=varname) 
        boxplt = fig_boxplot_variable(varname)
    else:
        histo = fig_histogram_variable()
        scatter = fig_scatterplot_variable()
        boxplt = fig_boxplot_variable()

    # render template
    histplot_script, histplot_div = components(histo)
    scatterplot_script, scatterplot_div = components(scatter)
    boxplot_script, boxplot_div = components(boxplt)

    # pass the div and script to render_template    
    return jsonify(
        hist_plot=render_template('update_figure.html', plot_script=histplot_script, plot_div=histplot_div),
        scatterplot_plot=render_template('update_figure.html', plot_script=scatterplot_script, plot_div=scatterplot_div),
        boxplot_plot=render_template('update_figure.html', plot_script=boxplot_script, plot_div=boxplot_div)
    )


if __name__ == '__main__':
    birds = get_arctox_data()
    gps = get_arctox_gps_data()
    
    print('Data lues une seule fois')
    
    print(os.getcwd())
    app.run(debug=False,port=port,threaded=True)  
    #Note that debug=True is a problem inside a jupyter notebook

Data lues une seule fois
c:\Travail\Enseignement\Cours_M2_python\2023\code
 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:82
Press CTRL+C to quit

LIAK10EG15

127.0.0.1 - - [14/Nov/2025 11:11:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2025 11:11:20] "GET /static/dataframe.min.js HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:20] "GET /static/jquery-3.2.1.min.js HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:20] "GET /static/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:21] "GET /static/jquery-3.2.1.min.js HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:21] "GET /static/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:21] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [14/Nov/2025 11:11:29] "GET /ajaxplot?varname=vol_egg HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2025 11:12:22] "GET /ajaxviz?bird=LIAK10EG02 HTTP/1.1" 200 -

LIAK10EG02